<div class="main">
    <h1>Register</h1>
<input type="text"  id="fname" placeholder="First Name" [(ngModel)]="firstname" ><br><br>
<input type="text"  id="lname" placeholder="Last Name" [(ngModel)]="lastname" ><br><br>
<input type="number"  id="age" placeholder="Age" [(ngModel)]="age" ><br><br>
<input type="text"  id="gender" placeholder="Gender" [(ngModel)]="gender" ><br><br>
<input type="text"  id="email" placeholder="Email" [(ngModel)]="email" ><br><br>
<input type="password"  id="password" placeholder="Password" [(ngModel)]="password" ><br><br>
<button (click)="validation()">add</button>

</div>

